.todo-form {
    background-color: white;
    width: 70vw;
    height: 60px;
    margin: 0 auto;
    display: flex;
}

.todo-form input {
    width: 70vw;
    font-size: 2em;
    text-align: center;
}

.todo-form button {
    width: 30vw;
    font-size: 2em;
}