.header {
    font-size: 4em;
    background-color: white;
    margin: 100px auto 20px auto;
    display: flex;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: underline;
}